@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    margin: 0vh;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: beige;
}

/** Navigation bar with inspiration from https: //www.youtube.com/watch?v=oLgtucwjVII&ab_channel=CodingNepal */
nav {
    background: beige;
    height: 1vh;
    width: 100%;
    line-height: 5vh;
    display: inline-block;
}

nav ul {
    float: right;
    margin-right: 1vw;
}

nav ul li {
    display: inline-block;
    line-height: 5vh;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}

nav ul li:hover {
    background: white;
    transition: .5s;
}

nav ul li:active {
    background: white;
    text-decoration: underline;
}

/** Page logo */
#logo {
    color: black;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    margin-left: 2vw;
    font-size: 2vw;

}

/** Hero Image and text */

.hero-image {
    background: url(../images/hero-image.jpg);
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    display: inline-block;
    width: 15vw;
    margin-top: 1vh;
    margin-left: 2vw;
    color: black;
    background: beige;
    opacity: 0.5;
}

/** "Why Us?" section */
#explain {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-weight: bold;
    font-size: 150%;
    background-color: beige;
}

#explain h2 {
    font-family: 'Press Start 2P', cursive;
    text-decoration: dotted;
}

#explain p {
    margin-top: 3vh;
}

/** style of the Event tiles with inspiration from https: //developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout*/
.event-tiles {
    display: grid;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-auto-rows: 25vh;
    grid-auto-flow: dense;
    width: 80%;
    margin: auto;
}

section a h2 {
    background-color: black;
    text-align: center;
    color: white;
    opacity: 0.8;
}

/** specific style rules for individual event tiles */
.event-1 {
    background: url(../images/packman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    grid-row: 1;

}

.event-2 {
    background: url(../images/coffe-and-cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 2/2;
    grid-row: 1;
}

.event-3 {
    background: url(../images/dart-contest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    grid-row: 2;
}

.event-4 {
    background: url(../images/meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 2/2;
    grid-row: 2;
}

.event-1:hover {
    transform: scale(1.2);
}

.event-2:hover {
    transform: scale(1.2);
}

.event-3:hover {
    transform: scale(1.2);
}

.event-4:hover {
    transform: scale(1.2);
}

#event-titel {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 3vh;
    font-family: 'Press Start 2P', cursive;
}

/** style of each event from the event.html page */
.event-li {
    display: grid;
    margin-top: 2vh;
    height: 100%;
    margin-bottom: 3vh;
    margin-left: 3vw;
    padding-bottom: 3vh;

}

.event-description {
    padding-top: 2%;
    font-size: 1vw;
    color: white;
    text-align: center;
}

.event-heading {
    padding-top: 2%;
    font-size: 2vw;
    color: white;
    text-align: center;
}

#packman {
    background: url(../images/packman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    grid-row: 1;
    width: 30vw;
    height: 25vh;
    margin-top: 3vh;
}

#packman-text {
    grid-column: 2/2;
    grid-row: 1;
    width: 60vw;
    background: black;
    margin-top: 3vh;
    height: 25vh;
}

#coffee {
    background: url(../images/coffe-and-cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    grid-row: 2;
    width: 30vw;
    height: 25vh;
    margin-top: 3vh;
}

#coffee-text {
    grid-column: 2/2;
    grid-row: 2;
    width: 60vw;
    background: black;
    margin-top: 3vh;
    height: 25vh;

}

#dart {
    background: url(../images/dart-contest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    grid-row: 3;
    width: 30vw;
    height: 25vh;
    margin-top: 3vh;
}

#dart-text {
    grid-column: 2/2;
    grid-row: 3;
    width: 60vw;
    background: black;
    margin-top: 3vh;
    height: 25vh;

}

#meet {
    background: url(../images/meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    grid-row: 4;
    width: 30vw;
    margin-top: 3vh;
    height: 25vh;
}

#meet-text {
    grid-column: 2/2;
    grid-row: 4;
    width: 60vw;
    background: black;
    margin-top: 3vh;
    height: 25vh;
}

/** footer styling with social media links */
footer {
    height: auto;
    margin-top: 5vh;
    text-align: center;
    background-color: black;
    color: white;
}

/** footer code from: "https: //www.w3schools.com/howto/howto_css_social_media_buttons.asp" */

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 10px;
    font-size: 30px;
    width: 50px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa:hover {
    opacity: 0.9;
}

/** form element for contact.html */
form {
    text-align: center;
    background-color: black;
    border: 0;
    box-shadow: 0 0 15px 5px grey;
    margin: 25vh auto;
    width: fit-content;
    height: fit-content;
    font-size: 100%;
    overflow: hidden;
}

form h1 {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

fieldset {
    background-color: black;
    color: beige;
    margin: auto;
    padding: 2vh 2vw;

}

fieldset legend {
    border: 2px double beige;
    margin-bottom: 1vh;
    font-size: 150%;
}

fieldset input {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1.5vh;
    font-size: 150%;
}

select {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    height: 6vh;
    font-weight: bold;
}

#backgroundimage {
    background: url(../images/clouds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    margin-top: 4vh;
}

@media only screen and (max-width: 1000px) {

    /** Navigation bar media query */
    nav ul li a {
        font-size: 2vw;
    }

    /** Hero text and image media query */
    .hero-text {
        text-align: center;
        color: black;
        background: beige;
        opacity: 0.5;
        font-size: 0.5em;
        width: fit-content;
        height: fit-content;
    }

    .hero-image {
        background: url(../images/hero-image.jpg);
        height: 45vh;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /** Why us section media query */
    #explain {
        width: 80%;
        height: 100%;
        font-size: 120%;
        background-color: beige;
    }

    /** events.html media query */
    .event-description {

        padding-top: 2%;
        font-size: 2vw;
        color: white;
        text-align: center;
    }

    .event-heading {
        padding-top: 2%;
        font-size: 4vw;
        color: white;
        text-align: center;
    }

    /** contact.html media query */
    fieldset {
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    fieldset legend {
        min-width: 0;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    form {
        width: 90vw;
        margin-top: 10vh;
    }

    fieldset input {
        width: 100%;

    }

    select {
        text-align: center;
        margin: auto;
        display: inline-block;
        height: 15vh;
        font-family: 'Lato', sans-serif;
    }

    option {
        width: fit-content;
    }
}